
 <!-- Footer Starts -->

  <footer>
    <div class="newsletter">
        <label for="email">Subscribe to Newsletter :</label>
        <input type="email" name="email" id="" placeholder="Your Email Addres">
        <button class="button-style">Subscribe</button>
    </div>

    <div class="copyright">
        <p>&copy; Copyright 2023 Shopping Bag. All rights rserved</p>
    </div>

  </footer>