
<!-- Nav Bar Starts -->
<nav>
       <div class="nav-container">

        <div class="logo">
            <img src="/images/logo.png" alt="website logo">
        </div>

        <div class="hide-manu" id="manu-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/shop">Shop</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/users/contact">Contact</a></li>
            </ul>
        </div>

        <div class="cart">
            <ul>
                <% if (token) { %>
                    <li><a href="/users/logout">Log Out</a></li>
                <% }else { %>
                    <li><a href="/users/login">Login</a></li>
                <% } %>
                
                <li class="shoping-cart"><a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <span class="cart-item-count"> <%= totalCartItem > 0 ? totalCartItem : ""  %> </span>

                    <% if (token) { %>
                            <div class="profile-image-div">
                                <!-- <li><a href="/users/profile"><img class="profile-image" src="/images/ashish.jpg" alt="profile image"></a></li> -->
                                    <% if (userData) { %>
                                        <li><a href="/users/profile"><img class="profile-image" src="/uploads/<%= userData.avater %>" alt="profile image"></a></li>
                                        <li><%= userData.firstName %></li>
                                    <% }else { %>
                        
                                        <% } %>
                                        
                            </div>
                    <% } %>

                <li><a href=""><i class="fa-solid fa-search nav-search"></i></a></li>
                
            </ul>

              <div class="manu-button">
                <i class="fa-solid fa-bars fa-2x manu-icon" id="manu-icon" style="color: #8d8f9e; margin-right:10px;"></i>
              </div>  
        </div>

       </div>



    <div class="nav-container-1">
        <div class="search">
            <div class="input-box">
                <input type="search" name="search" id="search-box" placeholder="Search Here">
            </div>
            <div class="search-icon">
                <a href=""><i class="fa-solid fa-search"></i></a>
            </div>
        </div>

        <div class="logo-1">
            <img src="/images/logo.png" alt="website logo">
            <h1>Shopping Bag</h1>
        </div>
    </div>

</nav>


                <!-- Nav Bar Ends -->