
<!-- Nav Bar Starts -->
<nav>
       <div class="nav-container">

        <div class="logo">
            <img src="images/logo.png" alt="website logo">
        </div>

        <div class="hide-manu" id="manu-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="cart">
            <ul>
                <li><a href="login.html">Login / Register</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="profile.html"><img class="profile-image" src="images/ashish.jpg" alt="profile image"></a></li>
                <li><a href=""><i class="fa-solid fa-search nav-search"></i></a></li>
                
            </ul>

              <div class="manu-button">
                <i class="fa-solid fa-bars fa-2x manu-icon" id="manu-icon" style="color: #8d8f9e; margin-right:10px;"></i>
              </div>  
        </div>

       </div>



    <div class="nav-container-1">
        <div class="search">
            <div class="input-box">
                <input type="search" name="search" id="search-box" placeholder="Search Here">
            </div>
            <div class="search-icon">
                <a href=""><i class="fa-solid fa-search"></i></a>
            </div>
        </div>

        <div class="logo-1">
            <img src="images/logo.png" alt="website logo">
            <h1>Shopping Bag</h1>
        </div>
    </div>

</nav>


                <!-- Nav Bar Ends -->