<main class="main-contant">
    <div class="row-main-products">
        <section class="cart-summary">
            <div class="summary-head">
                <h3>Shopping Cart [2 items]</h3>
            </div>
    
            <div class="summary-details">
                <ul>
                    <li><input type="checkbox" name="" id=""> Select all items</li>
                    <li><i class="fa-solid fa-trash-can"></i></li>
                    <li><button class="button-style">Shop More</button></li>
                </ul>
            </div>
        </section>
    
       <div class="cart-products">
        <section class="cart-product">
            <div class="left-cart">
                 <div>
                     <input type="checkbox" name="" id="">
                 </div>
             <div class="product-img">
                 <img src="/images/product-sunglass.jpg" alt="sunglass">
             </div>
            </div>
    
            <div class="right-cart">
                 <div class="right-details">
                        <h3>Raybon Sungalss</h3>
                        <h4>Price: $225.99</h4>
                        <p>Free Shipping</p>
                 </div>
    
                     <div class="count">
                         <div class="count-trash"><i class="fa-solid fa-trash-can"></i></div>
                         <div>
                             <ul>
                                 <li><i class="fa-solid fa-plus"></i></li>
                                 <li>3</li>
                                 <li><i class="fa-solid fa-minus"></i></li>
                             </ul>
                         </div>
                     </div>
    
            </div>
    
    
      
     </section>
    
     <section class="cart-product">
        <div class="left-cart">
             <div>
                 <input type="checkbox" name="" id="">
             </div>
         <div class="product-img">
             <img src="/images/product-laptop.jpg" alt="laptop">
         </div>
        </div>
    
        <div class="right-cart">
             <div class="right-details">
                    <h3>Laptop</h3>
                    <h4>Price: $925.99</h4>
                    <p>Shiping Charge: $10.60</p>
             </div>
    
                 <div class="count">
                     <div class="count-trash"><i class="fa-solid fa-trash-can"></i></div>
                     <div>
                         <ul>
                             <li><i class="fa-solid fa-plus"></i></li>
                             <li>1</li>
                             <li><i class="fa-solid fa-minus"></i></li>
                         </ul>
                     </div>
                 </div>
    
        </div>
    
    
    
    </section>
    
    
       </div>
    </div>


    <section class="payment">
       <div class="row-payment">
        <h2>Payment Summary</h2>
       <div>
        <p>Subtotal:</p>
        <p>$341.44</p>
       </div>

       <div>
        <p>Shipping Cost:</p>
        <p>$2.50</p>
       </div>

       <div>
        <p>Total Cost:</p>
        <p>$344.38</p>
       </div>
       
       <button class="button-style">Pay Now</button>
       </div>

      <div class="payment-methods">
           <div> <h2>Payment Methods</h2></div>
    
            <div class="payment-name">
                <div><img src="/images/payment-1.png.webp" alt=""></div>
                <div><img src="/images/payment-2.png.webp" alt=""></div>
                <div><img src="/images/payment-3.png.webp" alt=""></div>
                <div><img src="/images/payment-4.png.webp" alt=""></div>
                <div><img src="/images/payment-5.png.webp" alt=""></div>
            </div>
      </div>

    </section>

   
</main>


                <!-- Main Ends -->