 <!-- Main Starts -->
 <main>

    <section class="main-head">
      <h2>CONTACT US</h2>
    </section>

    <section class="address">
        
        <div class="address-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.3813586700317!2d90.73089744987992!3d24.884970250326617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3756fd698b46749f%3A0xc011b797363dd0bd!2sSymphony%20Customer%20Care%2C%20Netrokona!5e0!3m2!1sen!2sbd!4v1678287851156!5m2!1sen!2sbd"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

       <div class="address-posts">
        <div class="address-post">
            <h2>Shopping Bag</h2>
            <br>
            <p>Rangs Babylonia</p>
            <address>Level 6 - 9, 246 Bir Uttam Mir Shawkat Road, Tejgaon I/A, Dhaka-1208</address>
            <p>Phone: +880 2 8878057, +880 2 8878058</p>
            <p>Fax: +880 2 8878059</p>
        </div>

        <div class="call-center">
            <h2>Call Center</h2>
            <br>
            <p>Telephone:</p>
            <p>16272 (From Mobile)</p>
            <p>09 666 700 666 (From Mobile & T&T)</p>
            <p>Time: 10 a.m. To 7 p.m.</p>
            <p>(Except Friday and Govt Holiday)</p>
        </div>
       </div>

    </section>


    <section class="feedback">

      <div class="feedback-head">
        <h1>Drop us a line.</h1>
      </div>

     <div class="feedback-main">
      <div class="feedback-image">
        <img src="/images/feedback-image.png" alt="feedback image">
      </div>

      <div class="feedback-form">
        <form action="">
          <div class="name">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="name" required>
          </div>

          <div class="email">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="email" required>
          </div>

          <div class="number">
            <label for="number">Phone No</label>
            <br>
            <input type="number" name="number" id="number" required>
          </div>

          <div class="feedback-type">
            <label for="select-type">Feedback Type</label>
            <br>
            <select name="select-type" id="select-type">
              <option value="normal">Normal</option>
              <option value="urgent">Urgent</option>
            </select>
          </div>

          <div class="feedback-subject">
            <label for="feedback-subject">Feedback Subject</label>
            <br>
            <input type="text" name="feedback-subject" id="feedback-subject">
          </div>

          <div class="enquiry">
            <label for="enquiry">Enquiry</label>
            <br>
            <textarea name="enquiry" id="enquiry" cols="30" rows="5" required></textarea>
          </div>

          <div class="feedback-button">
            <button class="button-style">Submit</button>
          </div>

        </form>
      </div>

     </div>

    </section>
 </main>