
<% if (successMsg ) { %>
    <p class="flash-msg" style="color: green;"><%= successMsg  %></p>
<% } %>

<% if (FlashError ) { %>
    <p class="flash-msg" style="color: green;"><%= FlashError  %></p>
<% } %>

<main class="main-contant">
    <section class="head">
            <img src="/images/logo.png" alt="website logo">
            <h1>Shopping Bag Helps You to Find Authentic Products with Convenient Price</h1>
    </section>

    <section class="form">
        <form action="/users/login" method="post" class="form-action">
            <div class="email">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class="password">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>

            <div class="log-in">
                <button>Log in</button>
            </div>

            <div class="forgot-pass">
                <h4><a href="#">Forgotten Password?</a></h4>
            </div>

            <hr>
            
            <div class="register">
                <button><a href="/users/register">Create new account</a></button>
            </div>





        </form>
    </section>



</main>



