
<div class="container">
    
    <div class="pic-container">
        <a href=""><img src="/uploads/<%= product.avater %>" alt="Sunglass Image"></a>
    </div>


    <div class="details-container">
        <h1><%= product.productName %></h1>

        <div class="product-details">
            <div class="vendor-product product-style">
                <label for="">Brand :</label>
                <span>Bata</span>
            </div>

            <div class="stock-product product-style">
                <label for="">Availability :</label>
                <span>In Stock</span>
            </div>
        </div>

        <div class="product-price-div">
            <span>Taka</span>
            <h3 class="product-price"> 599.00 </h3>
        </div>

        <div class="delivery-note">
            <span>* PLEASE CHECK THE PRODUCT INFRONT OF DELIVERY MAN</span>
            <span>* Offer is only valid at batabd.com</span>
            
        </div>

        <strong>
            <span>FREE SHIPING</span>
        </strong>

        <div class="promocode">
            <label for="promocode">Promocode</label>
            <input type="text" name="Promocode" id="">
        </div>

        <div class="quanty">
            <label for="quanty">Quanty</label>
                    <div class="quanty-group">
                            <a href="" class="plus">+</a>
                            <input class="inputQty" type="text" name="quanty" id="" value="1">
                            <a href="" class="minus">-</a>
                    </div>
        </div>

        <div class="subtotal">
            <label>Subtotal : TK </label>
            <span class="totalPrice">599.00</span>
        </div>


        <div class="add-cart">
            <input class="add-cart-btn" type="button" value="ADD TO CART">
        </div>

    </div>

</div>

 <div class="product-description">
        <div class="product-details">
            <h2>PRODUCT DETAILS</h2>
            <p>Get them back-to-school ready with a new pair of shoes from our school shoes range by B.FIRST, offering a balance between the comfort & durability that parents are after, & the stylish trends that youngsters want to follow. Lightweight, cushioned designs ensure their feet feel good all day. These children’s school dress shoes are the perfect partner to their smart school uniform, keeping them feeling comfortable & protected throughout the day</p>
        </div>

        <div class="product-features">
            <h2>Features</h2>
            <ul>
                <li>-Type: <span>School Shoes</span></li>
                <li>-Material: <span>Metal</span></li>
                <li>-Color: <span>Black</span></li>
                <li>-Status: <span>Active</span></li>
            </ul>
        </div>
    </div>
