
<div class="container">
    <div class="pic-container">
    
        <a href=""><img src="/images/product-shoe.jpg" alt="Sunglass Image"></a>
    </div>


    <div class="details-container">
        <h1>Bata DRIVER Rubber Loafer</h1>

        <div class="product-details">
            <div class="vendor-product product-style">
                <label for="">Brand :</label>
                <span>Bata</span>
            </div>

            <div class="stock-product product-style">
                <label for="">Availability :</label>
                <span>In Stock</span>
            </div>
        </div>

        <div class="product-price-div">
            <span>Taka</span>
            <h3 class="product-price"> 599.00 </h3>
        </div>

        <div class="delivery-note">
            <span>* PLEASE CHECK THE PRODUCT INFRONT OF DELIVERY MAN</span>
            <span>* Offer is only valid at batabd.com</span>
            
        </div>

        <strong>
            <span>FREE SHIPING</span>
        </strong>

        <div class="promocode">
            <label for="promocode">Promocode</label>
            <input type="text" name="Promocode" id="">
        </div>

        <div class="quanty">
            <label for="quanty">Quanty</label>
                    <div class="quanty-group">
                            <a href="" class="plus">+</a>
                            <input class="inputQty" type="text" name="quanty" id="" value="1">
                            <a href="" class="minus">-</a>
                    </div>
        </div>

        <div class="subtotal">
            <label>Subtotal : TK </label>
            <span class="totalPrice">599.00</span>
        </div>


        <div class="add-cart">
            <input class="add-cart-btn" type="button" value="ADD TO CART">
        </div>


    </div>
</div>