         <!-- Main Starts -->


 <main class="profile">
    <div class="profile-head">
        <h2>User Profile</h2>
    </div>

    <div class="profile__user">
       <div class="user-details">
        <ul>
            <!-- <li><img src="/images/ashish.jpg" alt="Profile user image"></li> -->
            <li><img src="/uploads/<%= userData.avater %>" alt="Profile user image"></li>
            <li><h3>Ashish Saha</h3></li>
            <li><p>ashish.saha@gmail.com</p></li>
            <li><p>I love to buy gadgets</p></li>
        </ul>
       </div>

       <div class="user-edit">
        <ul>
            <li><i class="fa-solid fa-edit"></i></li>
            <li><i class="fa-solid fa-trash-can"></i></li>
        </ul>
       </div>



    </div>
    
 </main>


                    <!-- Main Ends -->