<main>
  <div class="row-main">
    <div class="main-head">
        <h2>Shopping Bag</h2>
        <h3>Create your Shopping Bag Account</h3>
        <!-- <p>to continue to Shopping Bag</p> -->
    </div>
        <form action="/users/register" method="post" class="signup-form">
                <div class="name">
                    <input type="text" name="firstName" id="" placeholder="First name">
                    <input type="text" name="lastName" id="" placeholder="Last name">
                </div>

                 <div class="contact">
                    <input type="text" name="contact" id="" placeholder="Contact">
                    
                </div>

                <div class="user-name">
                    <input type="text" name="email" id="" placeholder="Email">
                    <!-- <p>@bag.com</p> -->
                    <!-- <h6>You can use letters, numbers & periods</h6> -->
                </div>

                <div class="password">
                    <div>
                      <input type="password" name="password" id="" placeholder="Password">
                      <input type="password" name="confirmPassword" id="" placeholder="Confirm">
                    </div>
        
                    <h6>Use 8 or more characters with a mix of letters, numbers & symbols</h6>
                    
                </div>

                <div class="show-password">
                  <input type="checkbox" name="" id="">
                    <label for="checkbox"> Show password</label>
                </div>

                <div class="sign-up">
                    <a href="/users/login">Sign in instead</a>
                    <button type="submit" class="button-style-1">Sign Up</button>
                   
                </div>
        </form>
  </div>
</main>
