  /* For responsive please consider below template */
      .col-ds-1 {width: 8.33%;}
      .col-ds-2 {width: 16.66%;}
      .col-ds-3 {width: 25%;}
      .col-ds-4 {width: 33.33%;}
      .col-ds-5 {width: 41.66%;}
      .col-ds-6 {width: 50%;}
      .col-ds-7 {width: 58.33%;}
      .col-ds-8 {width: 66.66%;}
      .col-ds-9 {width: 75%;}
      .col-ds-10 {width: 83.33%;}
      .col-ds-11 {width: 91.66%;}
      .col-ds-12 {width: 100%;}

/* For responsive please consider above template */

/* Nav Starts */

.logo img{
  width: 3.6rem;

 }


.profile-image{
    width: 50px;
    height: 50px;

  }



#manu-bar ul{
  gap: 25px;
  font-size: 16px;

}

.cart ul li{
 font-size: 16px;
}



/* Nav Ends */



/* Main Starts */

.filter-sidebar{
  grid-column: 1 / span 2;
 
 }

.products{
  grid-column: 3 / -1;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  
} 

.product{
  margin: 0 1%;

}


/* Footer Starts */

footer{
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 0px;
  padding: 1% 0;
}

.newsletter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  flex: 1;

}

.newsletter label{
  margin-right: 5px;
}

.newsletter input[type="email"]{
  width: 40%;
  padding: 10px;


 }

 .newsletter button{
  padding-top: 8.5px;
  margin-left: -5px;
 }

.copyright{
  flex: 1;
  text-align: center;
}




/* ------------------------- Product Details Page---------------------- */

  /* .container{
    display: flex;
    justify-content: center;
    margin: 3% 0;
    border: 1px solid beige;
  }

  .pic-container{
    width: 100%;
    padding: 5px 10px;
  }

  .pic-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }

  .details-container{
    width: 100%;
    padding: 5px 15px;
  }

.product-details{
  margin-top: 30px;
}

.product-style{
  display: flex;
  margin: 15px 0;
  
}

.product-style label{
  width: 120px;
  font-weight: 600;
}

.product-price-div{
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.delivery-note{
  margin-bottom: 15px;
}

.delivery-note span{
  display: inline-block;
  color: red;
  margin-bottom: 5px;
}
.promocode{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.promocode input{
  height: 28px;
  width: 25%;
  padding: 0 10px;
}

.quanty{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.quanty input{
  width: 40px;
  height: 35px;
  text-align: center;
  padding: 0 5px;
  font-weight: 600;
}

.quanty-group{
  display: flex;
  align-items: center;
}

.plus, .minus{
  font-weight: 600;
  font-size: 25px;
  color: #4c5353;
  border: 1px solid gray;
  width: 40px;
  height: 35px;
  text-align: center;
}

.subtotal{
  margin-top: 35px;
  font-weight: 600;
}

.subtotal span{
  font-weight: 600;
}

.add-cart input{
  margin-top: 40px;
  width: 15rem;
  height: 3rem;
  padding: 5px 15px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--background-color-1);
  cursor: pointer;
  box-shadow: 2px 5px 1px gainsboro;
  transition: all 0.2s;
}

.add-cart input:active {
  transform: translateY(2px);
  box-shadow: 1px 2px 1px gainsboro;
}



.product-description{
  margin: 5% 10px;
}

.product-details h2{
  color: #818181;
  margin-bottom: 25px;
}

.product-details p{
  line-height: 25px;
  margin-bottom: 40px;
}

.product-features h2{
  color: #818181;
  margin-bottom: 25px;
}

.product-features ul > li{
  margin-bottom: 10px;
  font-weight: 600;
 
}

.product-features ul > li span{
  font-weight: 400;
} */
